frontend/node_modules/
backend/node_modules/
.next
dist
out
frontend/.next
backend/index.js
backend/index.js
backend/index.js
frontend/package-lock.json
frontend/package.json
frontend/src/app/Login/page.tsx
frontend/src/app/login/page.tsx
frontend/src/app/page.tsx
package-lock.json
package-lock.json
package-lock.json
frontend/package.json
